body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.high-score a {
    color: pink;
    text-decoration: none;
}

main {
    padding: 50px;
    text-align: center;
}

main h1 {
    font-size: 40px;
}

.text-style {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: purple;
    color: white;
    border-radius: 25px;
    font-size: 20px;
}

button:hover {
    opacity: 0.75;
}

button a {
    text-decoration: none;
    color: white;
}

.hidden {
    display: none;
}

.highscore {
    text-align: center;
}

.buttonPad {
    margin-top: 40px;
}

.optionClass {
    display: block;
}

.center {
    text-align: center;
}

.varifyPad {
    border-top: solid 2px grey;
    margin-top: 40px;
    color: grey;
    font-size: 24px;
}
